<h2>Create Stock Form</h2>
<div class="form-group">
    <form (ngSubmit)="createStock()">
        <div class="stock-name">
            <input type="text" placeholder="Stock Name" name="stockName" [ngModel]="stock.name"
                (ngModelChange)="stock.name=$event">
        </div>
        <div class="stock-code">
            <input type="text" placeholder="Stock Code" name="stockCode" [ngModel]="stock.code"
                (ngModelChange)="stock.code=$event">
        </div>
        <div class="stock-price">
            <input type="number" placeholder="Stock Price" name="stockPrice" [ngModel]="stock.price"
                (ngModelChange)="setStockPrice($event)">
        </div>
        <div class="stock-exchange">
            <select name="stockExchange" [(ngModel)]="stock.exchange">
                <option *ngFor="let exchange of stock.exchanges" [ngValue]="exchange">{{exchange}}</option>
            </select>
        </div>
        <div class="stock-confirm">
            <input type="checkbox" name="stockConfirm" [(ngModel)]="confirmed">I confirm that the information provided
            above is accurate!
        </div>
        <button [disabled]="!confirmed" type="submit">Create</button>
    </form>
</div>
<h4>Stock Name is {{stock | json}}</h4>
